.contact-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure full height */
    background: linear-gradient(135deg, #6a1b9a, #140D24); /* Gradient background */
}

.contact-container {
    padding: 100px 40px; /* Added more padding for spacing */
    color: white;
    max-width: 800px; /* Adjusted width to avoid reaching edges */
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2); /* Slight shadow for depth */
    border-radius: 10px;
    backdrop-filter: blur(5px); /* Adds a slight blur for a glassmorphism effect */
}

.contact-container h1, .contact-container p, .contact-container ul, .contact-container li, .contact-container a {
    color: white;
}

.contact-container ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.5rem;
    margin-top: 30px; /* Adjusted spacing */
}

.contact-container li {
    margin-bottom: 15px; /* Adjusted spacing between list items */
}

.contact-container a {
    color: var(--accent1-color);
    text-decoration: none;
    font-size: 1.5rem;
}

.contact-container a:hover {
    text-decoration: underline;
}

footer {
    margin-top: auto; /* Ensure footer sticks to the bottom */
}
