.error {
    margin: auto;
    color: red;  /* Makes the error message red */
    font-size: 1.2rem;  /* Makes the text slightly larger */
    border: 1px solid red;
    padding: 5px;
    border-radius: 10px;
  }

.login-form {
    margin: auto;
    margin-top: 15%;
    width: 400px;
    padding: 30px;
    background: linear-gradient(135deg, var(--primary-color), var(--accent2-color));
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;  
    color: white;
}

.login-form h2 {
    font-size: 2rem;
    margin: auto;
    margin-bottom: 10px;
}

.login-form label > input {
    margin-left: 20px;
    border: 2px solid var(--primary-color); 
    border-radius: 5px; 
    outline: none; 
    height: 30px;
    width: 200px;
}


.login-form label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

.login-form button {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--accent2-color);
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    transition: all 0.3s ease; 
}

.login-form button:hover {
    background-color: var(--primary-color); 
    transform: scale(1.1); 
}