
.register-form {
    margin: auto;
    margin-top: 15%;
    width: 400px;
    padding: 30px;
    background: linear-gradient(135deg, var(--primary-color), var(--accent2-color));
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Space between form fields */
    color: white;
}

.register-form h2 {
    font-size: 2rem;
    margin: auto;
    margin-bottom: 10px;
}
input {
    margin-top: 5px;
    margin-left: 20px;
}

label {
    font-size: 1.5rem;
}

button {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

button:hover {
    background-color: var(--accent1-color);
    
}