.landing-page {
  background: linear-gradient(45deg, #f3ec78, #af4261);
  padding: 50px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
