.dashboard-nav {
    position: inherit; 
    top: 0;
    left: 0;
    width: 15%; 
    height: 100%; 
    background-color: var(--accent3-color); 
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-top-left-radius: 35px; 
    border-bottom-left-radius: 35px; 
}

.dashnav-item {
    width: 75%;
    margin: 10px;
    padding: 10px;
    border-radius: 15px; 
    background-color: var(--primary-color); 
    border: 1px solid white; /* Added white border */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusted for centering content */
    transition: background-color 0.3s, transform 0.3s;
}


.dashnav-item:hover {
    background-color: var(--accent2-color); 
    transform: scale(1.05);
    cursor: pointer;
}

.dashnav-item img {
    margin-right: 8px; 
    width: 30px; 
    height: 30px;
}

.dashnav-text {
    flex-grow: 1;
    text-align: center; /* Centering text */
}

.logout-button {
    margin-top: auto; 
    margin-bottom: 30px;
    background-color: #444;
    text-align: center;
    font-size: 23px;
    width: 60%;
    border: 1px solid white; /* Added white border for logout */
}

.logout-button:hover {
    background-color: red;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-container img {
    width: 40px;
    height: 40px;
    margin-right: 10px; 
}