footer {
    background: linear-gradient(135deg, var(--primary-color) 30%, var(--accent2-color) 100%);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  
