.profile-container {
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: flex-start; /* Aligns items at the top */
}

.profile-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    border: 3px solid black; /* Black border around the profile picture */
    object-fit: cover;
    margin-bottom: 20px;
}

.upload-button {
    width: 70%;
    margin: 10px;
    padding: 12px 5px;
    border-radius: 15px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
    color: white;
    font-size: 15px;
}

.upload-button:hover {
    background-color: var(--accent2-color);
    transform: scale(1.05);
}

.nav-button {
    background: none;
    color: var(--primary-color);
    padding: 10px;
    font-size: 18px;
    text-align: center; /* Centers text within each nav button */
    flex-grow: 1; /* Allows each nav button to fill the space evenly */
    border-bottom: 3px solid transparent; /* Invisible border by default */
}

.nav-button:hover {
    border-bottom: 3px solid black; /* Black underline on hover */
}

.content-area {
    padding: 20px;
    font-size: 16px;
}

.content-area form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between form fields */
}

.content-area label {
    color: var(--primary-color); /* Example: Define this variable in your root CSS */
    margin-bottom: 5px;
    font-weight: bold;
}

.content-area input {
    padding: 8px;
    border: 2px solid var(--primary-color); /* Example: Define this variable in your root CSS */
    border-radius: 5px;
    width: 100%; /* Full width of the container */
}

.content-area button {
    padding: 10px 15px;
    background-color: var(--primary-color); /* Example: Define this variable in your root CSS */
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content-area button:hover {
    background-color: var(--accent2-color); /* Example: Darker shade for hover, define this variable in your root CSS */
}

.profile-details {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.profile-nav {
    display: flex;
    width: 100%; /* Ensures the navbar spans the full width of its container */
    justify-content: space-between;
    border-bottom: 2px solid black; /* Continuous line under the navbar */
    padding-bottom: 5px; /* Space between nav items and the border */
}
